

@model List<Book>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <jqx-gird>

    </jqx-gird>
    <h1>Welcome Bacl</h1>
    <div id="messagebox"></div>
   @if (Model != null)
   {
       <h1>Books</h1>
       foreach (var book in Model)
       {
             <div>
                 @book.Title - @book.Author | <a href="/rental?id=@book.Id">Rent</a>
             </div>

       }
   }

</main>